div{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 3px solid black;
    display: inline-block;
    margin-right: 10px;
}
#static{
    background-color: yellow;
    position: static;
    top: 100;
    left: 100;

}
#relative{
    background-color: yellow;
    position: relative;
    top: 100px;
    bottom: 100px;
}
#absulute{
    background-color: yellow;
    position: absolute;
    top: 100px ;
    right: 100px;

}
#fixed{
    background-color: yellow;
    position: fixed;
    top: 100px ;
    left: 100px;

}