div{
    height: 150px;
    width: 150px;
    background-color: aqua;
    margin-top: 10px;
    transition: margintop 2s ease-in-out 5s;
}
#div:hover{
    background-color: black;
    margin-top: 500px;
}
.a{
    height: 100px;
    width: 300px;
    border: 3px solid black;
    margin: auto;
    margin-top: 5px;
    padding: 25px;
    box-shadow: 10px 10px 10px gray;
    background-image: url(22.png);
    background-size: contain;
}
.a:nth-of-type(2n){
    background-color: gray;
}
